# ML & Analytics dependencies
pandas~=2.2.3
matplotlib~=3.10.3
seaborn~=0.13.2
scikit-learn~=1.6.1

# Scraping dependencies
requests~=2.32.3
bs4~=0.0.2
beautifulsoup4~=4.13.4
tqdm~=4.66.0

# Dev dependencies
black
isort